@import "fonts";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: $LexendDeca;
  background-color: $gray;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
